:root {


    /* -----color--- */
    --yellow-color: var(--Accent-Colors-accent-color-base, #D4FF27);
    --light-blue: var(--Colors-Neutrals-Neutral-600, #1F272E);
    --light-black: var(--Colors-GreenYellow-GreenYellow-800, #1F2309);
    --smooth-black: var(--Colors-Neutrals-Neutral-700, #151A1F);
    --slaty-color: var(--Colors-Neutrals-Neutral-400, #545E6C);
    --white-color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
    --black-color: var(--Colors-Neutrals-Neutral-900, #000000);
    --dark-black: var(--Colors-Neutrals-Neutral-800, #0D1012);
    --light-slaty: var(--Colors-Neutrals-Neutral-500, #4D545E);


    /* -----font-size--- */

    --text-xxl: 96px;
    --text-xl: 64px;
    --text-lg: 32px;
    --text-md: 24px;
    --text-sm: 16px;
    --text-default: 14px;
    --text-base: 12px;



    /* ----line-height---- */
    --lh-16: 16px;
    --lh-24: 24px;
    --lh-36: 36px;
    --lh-86: 86.4px;
    --lh-20: 20px;





    /* ----font-wight--- */
    --fw-700: 700;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

}

/* ====font-weight=== */

.fw-sm {
    font-weight: var(--fw-400);
}

.fw-md {
    font-weight: var(--fw-500);
}

.fw-lg {
    font-weight: var(--fw-600);
}

.fw-xl {
    font-weight: var(--fw-700);
}

.fs-base {
    font-size: var(--text-base);
}

.fs-default {
    font-size: var(--text-default);
}

.fs-sm {
    font-size: var(--text-sm);
}

.fs-lg {
    font-size: var(--text-lg);
}

.fs-md {
    font-size: var(--text-md);
}

.fs-xl {
    font-size: var(--text-xl);
}

.fs-xxl {
    font-size: var(--text-xxl);
}


/* ====color==== */
.fc-yellow-color {
    color: var(--yellow-color);
}

.bg-yellow-color {
    background: var(--yellow-color);
}

.fc-grey-color {
    color: var(--grey-color)
}

.bg-grey-color {
    color: var(--grey-color);
}

.fc-white-color {
    color: var(--white-color);
}

.fc-slaty-color {
    color: var(--slaty-color);
}

.bg-slaty-color {
    background: var(--slaty-color);
}

.fc-black-color {
    color: var(--black-color);
}

.fc-light-black {
    color: var(--light-black)
}

.bg-light-black {
    background: var(--light-black)
}

.bg-light-blue {
    background: var(--light-blue);
}

.fc-light-blue {
    color: var(--light-blue);
}

.fc-smooth-black-color {
    color: var(--smooth-black);
}

.bg-smooth-black-color {
    background: var(--smooth-black);
}

.bg-black-color {
    background: var(--black-color);
}

.fc-dark-black-color {
    color: var(--dark-black);
}

.bg-dark-black-color {
    background: var(--dark-black);
}

.fc-light-sltay {
    color: var(--light-slaty);
}

.bg-slaty-color {
    background: var(--light-slaty);
}

/* ===line-hieiht=== */

.lh-16 {
    line-height: var(--lh-16) !important;
}

.lh-24 {
    line-height: var(--lh-24) !important;
}

.lh-36 {
    line-height: var(--lh-36) !important;
}

.lh-86 {
    line-height: var(--lh-86) !important;
}

.lh-20 {
    line-height: var(--lh-20) !important;
}





.font-family {
    font-family: Normalidad;

}

.oppicity {
    opacity: 60%;
}