.top-nav {
    border-width: 0px, 1px, 1px, 0px;

    border-style: solid;

    border-color: var(--Colors-Neutrals-Neutral-600, #1F272E);
    background: var(--Colors-Neutrals-Neutral-700, #151A1F);
}

.navlinks {
    color: var(--Colors-Neutrals-Neutral-400, #545E6C);
}

.btn {
    padding: 2px 8px;
    border-radius: 40px;
    background: var(--Colors-Neutrals-Neutral-600, #1F272E);
    color: var(--Colors-Neutrals-Neutral-400, #545E6C);
    border: none;
}

.btn-1 {
    padding: 12px 16px;
    border-radius: 10px;
    color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
    background: var(--Colors-Neutrals-Neutral-600, #1F272E);
    border: none;


}

.fc-white-color {
    color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
}

.light-green {
    color: var(--Accent-Colors-accent-color-base, #D4FF27);
}

.btn-2 {
    background: var(--Accent-Colors-accent-color-base, #D4FF27);
    color: #000000;
}

.ml-180 {
    margin-left: 180;
}

.gap-24 {
    gap: 24px;
}

.gap-10 {
    gap: 10px;
}

.gap-16 {
    gap: 16px
}

.text-decoration {
    text-decoration: none;
}

.bg-img {
    background-image: url(/assets/images/background-img/Hero\ Section\ 1/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    top: 0;
    right: 0;
}

.position-relative {
    position: relative;
}

.position-absloute {
    position: absolute;
}



.text-center {
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.main-heading {
    font-size: 96px;
    letter-spacing: -4%;
}

.discription {
    letter-spacing: 20%;
}

.btn-3 {
    color: var(--Colors-Neutrals-Neutral-900, #000000);
    background: var(--Accent-Colors-accent-color-base, #D4FF27);
    padding: 16px 24px;
    border-radius: 10px;
    letter-spacing: -1%;
    border: none;
}

.line {
    width: 48px;
    height: 4px;
    border-radius: 24px;
}

.line-1 {
    background: var(--Accent-Colors-accent-color-base, #D4FF27);
}

.line-2 {
    background: var(--Colors-Neutrals-Neutral-700, #151A1F);
}

.pt-100 {
    padding-top: 100px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pt-20 {
    padding-top: 20px;
}

.border {
    border: none !important;
}

.mt-50 {
    margin-top: 50px;
}

.pt-40 {
    transform: translate(-40px);
}

.card {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 24px;
    width:318px;
    margin-bottom: 20px;
    border: 1px solid var(--Colors-Neutrals-Neutral-700, #151A1F);
    backdrop-filter: blur(40px);
    background: var(--Colors-Neutrals-Neutral-800, #0D1012);

}
.top-18{
    top: 18px;
}
.z-1{
    z-index: 1;
}
.letter-spacing{
    letter-spacing: 0%;
}
.letter-spacing {
    letter-spacing: 1%;
    color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
    opacity: 40%;
}
.my-silder.slick-silder{
    display: flex;
    gap:16px;
}
.bg-img-2 {
    background-image: url(/assets/images/bg-img-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    top: 0;
    right: 0;
}
.grand{
    font-size: 36px;
        color: var(--Accent-Colors-accent-color-base, #D4FF27);

}
.max-w-888{
    max-width: 888px;
}
.bg-img-3 {
    background-image: url(/assets/images/bg-img-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    top: 0;
    right: 0;
}
.meet-btn{
    background: var(--Colors-Neutrals-Neutral-700, #151A1F);
    padding: 8px 12px;
    color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
    border-radius: 72px;
    border: none;
        letter-spacing: 0%;
        text-align: center;
}
.mt-60{
    margin-top: 60px;
}
.ml-100{
    margin-left: 100px;
}
.para{
    color: var(--Colors-Neutrals-Neutral-500, #4D545E);
}
.mt-30{
    margin-top: 30px;
}