@import url(/assets/css/root.css);



.top-nav {
    border-width: 0px, 1px, 1px, 0px;

    border-style: solid;

    border-color: var(--Colors-Neutrals-Neutral-600, #1F272E);
    background: var(--Colors-Neutrals-Neutral-700, #151A1F);
}

.navlinks {
    color: var(--Colors-Neutrals-Neutral-400, #545E6C);
}

.navlinks:hover {
    color: #FFFFFF;
}

.btn {
    padding: 2px 8px;
    border-radius: 40px;
    background: var(--Colors-Neutrals-Neutral-600, #1F272E);
    color: var(--Colors-Neutrals-Neutral-400, #545E6C);
    border: none;
}

.btn-1 {
    padding: 12px 16px;
    border-radius: 12px;
    color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
    background: var(--Colors-Neutrals-Neutral-600, #1F272E);
    border: none;





}

.btn-1:hover {
    background: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
    color: var(--Colors-Neutrals-Neutral-600, #1F272E);
}

.btn:hover {
    color: var(--Colors-Neutrals-Neutral-600, #1F272E);
    background: var(--Colors-Neutrals-Neutral-400, #545E6C);
}

.fc-white-color {
    color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
}

.light-green {
    color: var(--Accent-Colors-accent-color-base, #D4FF27);
}

.btn-2 {
    background: var(--Accent-Colors-accent-color-base, #D4FF27);
    color: #000000;

}

.btn-2:hover {
    background: #000000;
    color: var(--Accent-Colors-accent-color-base, #D4FF27);
}

.btn-3:hover {
    background: #000000;
    color: var(--Accent-Colors-accent-color-base, #D4FF27);
}

.ml-180 {
    margin-left: 180;
}

.gap-24 {
    gap: 24px;
}

.gap-10 {
    gap: 10px;
}

.gap-16 {
    gap: 16px
}

.text-decoration {
    text-decoration: none;
}

.bg-img {
    background-image: url(/assets/images/background-img/Hero\ Section\ 1/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    top: 0;
    right: 0;
}

.position-relative {
    position: relative;
}

.position-absloute {
    position: absolute;
}



.text-center {
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.main-heading {
    font-size: 96px;
    letter-spacing: -4%;
    text-align: center;
    text-transform: uppercase;


}

.discription {
    letter-spacing: 20%;
}

.btn-3 {
    color: var(--Colors-Neutrals-Neutral-900, #000000);
    background: var(--Accent-Colors-accent-color-base, #D4FF27);
    padding: 16px 24px;
    border-radius: 12px;
    letter-spacing: -1%;
    border: none;
}

.max-w-538 {
    max-width: 538px;
}

.line {
    width: 48px;
    height: 4px;
    border-radius: 24px;
}

.max-w-612 {
    max-width: 612px;
}



.pt-100 {
    padding-top: 100px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pt-20 {
    padding-top: 20px;
}

.border {
    border: none !important;
}

.mt-50 {
    margin-top: 50px;
}



.card {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 20px;
    border: 1px solid var(--Colors-Neutrals-Neutral-700, #151A1F);
    backdrop-filter: blur(40px);
    background: var(--Colors-Neutrals-Neutral-800, #0D1012);

}

.max-w-290 {
    max-width: 290px;
}

.top-18 {
    top: 18px;
}

.slick-next {
    visibility: hidden;
    content: none;
}

.slick-prev {
    visibility: hidden;
    content: none;
}



.letter-spacing {
    letter-spacing: 0%;
}

.letter-spacing {
    letter-spacing: 1%;
    color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
    opacity: 40%;
}


.white-space-mowrap {
    white-space: nowrap;
}

.bg-img-2 {
    background-image: url(/assets/images/video-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    min-height: 988px;
    width: 100%;
    top: 0;
    right: 0;
}

.grand {
    font-size: 36px;
    color: var(--Accent-Colors-accent-color-base, #D4FF27);

}

.max-w-888 {
    max-width: 888px;
}

.bg-img-3 {
    background-image: url(/assets/images/bg-img-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    top: 0;
    right: 0;
}

.meet-btn {
    background: var(--Colors-Neutrals-Neutral-700, #151A1F);
    padding: 8px 12px;
    color: var(--Colors-Neutrals-Neutral-50, #FFFFFF);
    border-radius: 72px;
    border: none;
    font-weight: 700;
}

.mt-60 {
    margin-top: 60px;
}


.para {
    color: var(--Colors-Neutrals-Neutral-500, #4D545E);
}

.mt-30 {
    margin-top: 30px;
}

.vertical {
    width: 5px;
    height: 30px;
    background-color: var(--Accent-Colors-accent-color-base, #D4FF27);
}

.box {
    background: var(--Colors-Neutrals-Neutral-800, #0D1012);
    backdrop-filter: blur(40px);
    padding: 32px 24px 24px 24px;
}

.fc-light-yellow {
    color: var(--Accent-Colors-accent-color-base, #D4FF27);
}

.max-w-660 {
    max-width: 660px;
}

.icon-box {
    background: var(--Colors-Neutrals-Neutral-800, #0D1012);
    width: 100%;
}

.max-w-1440 {
    max-width: 1440px;

}

.ml-40 {
    margin-left: 40px;
}

.mt-10 {
    margin-top: 10px;
}

.bg-color {
    background: var(--Accent-Colors-accent-color-base, #D4FF27);
    border-radius: 12px;
}

.max-w-456 {
    max-width: 456px;
}

.light {
    transform: translate(-220px);
}

.stay {
    font-size: 36px;
    color: var(--Colors-Neutrals-Neutral-900, #000000);
}

.revices {
    color: var(--Colors-GreenYellow-GreenYellow-800, #1F2309);
    opacity: 60%;
}

.arrow-box {
    width: 40px;
    height: 40px;
    background: var(--Colors-Neutrals-Neutral-700, #151A1F);
    border-radius: 10px;

}

.arrow-box:hover {
    background-color: #FFFFFF;
}

.arrow-box-1 {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: var(--Accent-Colors-accent-color-base, #D4FF27);

}

.arrow-box-1:hover {
    background: var(--Colors-Neutrals-Neutral-700, #FFFFFF);
}

.pt-10 {
    padding-top: 10px;
}

input[type="email"] {
    width: 380px;
    text-align: left;
    background: var(--Colors-Neutrals-Neutral-800, #0D1012);
    border-radius: 12px;
    padding: 12px 16px;
    font-family: Normalidad;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1%;
    color: var(--Colors-Neutrals-Neutral-500, #4D545E);
    border: 1px solid var(--Colors-Neutrals-Neutral-700, #151A1F)
}

.bg-color-1 {
    background: var(--Colors-Neutrals-Neutral-700, #151A1F);
}

.margin {
    width: 2px;
    border: 1px solid var(--Colors-Neutrals-Neutral-600, #1F272E);
    width: 100%;
}

.list-type {
    list-style-type: none;
}

.gap-2 {
    gap: 2px;
}

.my_file .slick-track {
    display: flex;
    gap: 20px;
}

.card:hover {
    border: 1px solid #1F272E;
}


.iframe-box {
    max-width: 900px;
    margin: auto;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.iframe-box iframe {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 888px;
    height: 480px;
    border: none;
}

.text-left {
    text-align: left;
}

.display {
    display: flex;
}

.mb-24 {
    margin-bottom: 24px;
}

.social-icon:hover {
    transform: scale(1.4);

}

.nav {
    position: fixed;
}

.gap-250 {
    justify-content: space-between;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cartoon {
    bottom: 0;
}

.z-1 {
    z-index: -1;
}

.left-margin {
    margin-left: 40px;
}

.valorant-btn {
    transform: translateY(-15px);
}

.carousel-indicators [data-bs-target] {
    background-color: #D4FF27;
    margin-bottom: 100px;
}

.max-w-965 {
    max-width: 965px;
}



.max-w-575 {
    max-width: 575px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mt-90 {
    margin-top: 90px;
}

.max-w-1344 {
    max-width: 1344px;
}


@media(max-width:992px) {
    .main-heading {
        font-size: 66px;
        line-height: 76px;
    }

    .flying {
        width: 100%;
    }

    .display {
        display: unset;
    }

    .left-margin {
        margin-left: 0px;
    }

    .pb-90 {
        padding-bottom: 70px;
    }

}

@media (max-width:785.98px) {

    .menu-list {
        flex-direction: column;
        position: fixed;
        justify-content: center;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: lightcoral;
        transition: right 200ms linear;

        ul {
            flex-direction: column;

        }
    }

    .menu-list.show {
        right: 0;
    }

    .menu-icon {
        display: flex;
        width: 40px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1;
        margin-top: 10px;

        span {
            width: 100%;
            height: 5px;
            background-color: #FFFFFF;
            border-radius: 4px;
            transition: all 200ms linear;
        }
    }

    .menu-icon.active span:first-of-type {
        transform: rotate(40deg);
        transform-origin: left;
    }

    .menu-icon.active span:nth-child(2) {
        height: 0;
    }

    .menu-icon.active span:last-of-type {
        transform: rotate(-40deg);
        transform-origin: left;
    }

    .ml-100 {
        margin-left: 0px;
    }

    .pb-90 {
        padding-bottom: 40px;
    }

}



@media(max-width:567px) {
    .main-heading {
        font-size: 48px;
        line-height: 66px;
    }

    .pb-90 {
        padding-bottom: 90px;
        padding-top: 100px;
    }

    .game-shooter {
        padding-top: 70px;
    }

    .shape {
        display: none;
    }

    .cartoon-2 {
        width: 100%;
    }
}